#father{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
    line-height: 25px;
    border: 1px black solid;
    width: 400px;
}
ul,li{
   margin: 0;
    padding: 0;
    list-style: none;
}
/*父级元素相对定位*/
#father ul{
    position: relative;
}
.tipText,.tipBg{
    position: absolute;
    width: 380px;
    top:200px;
    height: 25px;
}
.tipText{
    color: white;
    /*越高越顶层*/
    z-index: 999;
}
.tipBg{
    background: black;
    /*背景透明度*/
    opacity: 0.5;
}